header {
    position: sticky;
    top: 0px;
}
nav {
    position: sticky;
    top: 115px;
}
.bg {
    background-image: url(../src/bgmkn.jpg);
    padding: 20px;
    position: sticky;
    top: 0px;
}
h1 {
    opacity: 100%;
    font-weight: bold;
    color: white;
    text-align: center;
}
ul {
    background-color: slateblue;
    padding: 10px;
    margin-top: 0px;
}
li {
    display: inline;
    padding: 20px;
    text-align: center;
    justify-content: center;
}
li:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: crimson;
}
footer {
    position: sticky;
    bottom: 0px;
    padding: 10px;
    background-color: teal;
}
img {
    width: 200px;
}
table {
    width: 800px;
    margin: 0 auto;
    text-align: justify;
    border: 1px solid black;
}
a:visited {
    color: black;
}
a {
    text-decoration: none;
}