body {
  margin: 0px;
  background: linear-gradient(
    91.7deg,
    rgb(50, 25, 79) -4.3%,
    rgb(122, 101, 149) 101.8%
  );
}
header {
  position: sticky;
  top: 0px;
}
nav {
  position: sticky;
  top: 115px;
}
.bg {
  background-image: url(../src/bg1.jpeg);
  padding: 20px;
  position: sticky;
  top: 0px;
}
.h1 {
  color: white;
  font-weight: bold;
  text-align: center;
}
ul {
  background-color: #a393eb;
  padding: 10px;
  margin-top: 0px;
}
.author {
  margin-left: 600px;
}
.author2 {
  padding: 0px;
}
.img1 {
  width: 17px;
  border: 1px solid #f5c7f7;
  border-radius: 50%;
  margin-left: 10px;
}

li {
  display: inline;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  color: #e9e2d0;
  font-family: monospace;
  font-size: 15px;
}
li:hover {
  color: #6d42c7;
  text-decoration: underline;
  text-decoration-color: #edb1f1;
}

.jawa:visited {
  color: #e9e2d0;
}
a {
  text-decoration: none;
  color: #e9e2d0;
}
.jawa:hover {
  color: #6d42c7;
  text-decoration: underline #edb1f1;
  cursor: context-menu;
}
.author2:hover {
  cursor: zoom-in;
  color: #6d42c7;
  text-decoration: underline;
  text-decoration-color: #edb1f1;
}

table,
td {
  width: 1000px;
  margin: 0 auto;
  text-align: justify;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 35px;
  color: #fffcea;
}
.foto1 {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 160px;
  border-radius: 40%;
}

h2 {
  text-align: center;
  color: #fcf4d9;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
}
.footer {
  position: relative;
  bottom: 0px;
  background-color: #a393eb;
}
.copy:hover {
  color: #e9e2d0;
  text-decoration: none;
}
.maranatha {
  margin-left: 280px;
}
a {
  text-decoration: none;
}
a:visited {
  color: #e9e2d0;
}
a:hover {
  text-decoration: underline;
}
.footer {
  position: relative;
  bottom: 0px;
  background-color: #a393eb;
}
.copy:hover {
  color: #e9e2d0;
  text-decoration: none;
}
.maranatha {
  margin-left: 280px;
}
a {
  text-decoration: none;
}
a:visited {
  color: #e9e2d0;
}
a:hover {
  text-decoration: underline;
}
li {
  display: inline;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  color: #e9e2d0;
  font-family: monospace;
  font-size: 15px;
}
